*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5rem;
}
body {
  background-color: khaki;
  max-width: 1000px;
  margin: 0 auto;
  background-image: url(img/Enter_Ajmaq.jpg);
  background-repeat: no-repeat;
}

h1 {
  color: crimson;
  background-color: darkkhaki;
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0.5rem;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  letter-spacing: 0.8rem;
  word-spacing: 0.3rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: green;
}

a:hover {
  color: yellow;
}

.new-color {
  color: blue;
  background-color: white;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a:active {
  color: red;
}

.box {
  background-color: pink;
  width: 300px;
  padding: 30px;
  border: 20 px solid green;
  margin: 30 px;
}

.standard-box {
  box-sizing: content-box;
}

.border-box {
  padding: 10px 5px 10px 20px;
}
